---
layout: default
---
{% assign profile = site.profile | first %}
{% include profile.html profile=profile %}

{% assign sections = site.sections | sort: 'order' %}
{% assign visible_index = 0 %}
{% for section in sections %}
  {% if section.enabled %}
    {% assign visible_index = visible_index | plus: 1 %}
    {% capture section_index %}0{{ visible_index }}{% endcapture %}
    {% case section.component %}
      {% when 'news' %}{% include sections/news.html section=section index=section_index %}
      {% when 'publications' %}{% include sections/publications.html section=section index=section_index %}
      {% when 'experience' %}{% include sections/experience.html section=section index=section_index %}
      {% when 'projects' %}{% include sections/projects.html section=section index=section_index %}
      {% when 'service' %}{% include sections/service.html section=section index=section_index %}
      {% when 'awards' %}{% include sections/awards.html section=section index=section_index %}
    {% endcase %}
  {% endif %}
{% endfor %}
